*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar{
    background-color: rgb(3, 149, 247);
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    padding-left: 14px;

}

.content{
    background-color: whitesmoke;
    padding: 32px 16px;
    display: flex;
    gap: 12px;
    
}

.side-nav, .side-settings{
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
   
    
}

.side-wrap{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-left: 8px;
    gap: 50px;
}

.side-dash{
    margin-top: 14px;
}

.sidebar p{
    font-size: 20px;
}

.top-head-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user-account{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 24px;
    align-items: center;
   
}

.header{
    padding: 18px 60px;
}

.logo-greeting{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: center;
    gap: 14px;
}

.bot-head-wrap{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 12px;
    margin-top: 20px;
   
    
}
.buttons{
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    
}

.buttons button{
    padding: 8px 20px;
    border-radius: 20px;
    background-color: rgb(3, 149, 247);
    color: white;
    border: none;
}

.card{
    background-color: white;
    height: 180px;
    border-radius: 8px;
    padding: 24px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 12px;
    
    
}



.announcement-cards, .trend-cards{
    background-color: white;
    width: 260px;
    height: fit-content;
    padding: 24px;
    border-radius: 8px;
   
}


.content-right{
    display: flex;
    flex-direction: column;
   
   
}

.content-head{
    margin-bottom: 8px;
}
.trending{
    margin-top: 24px;
}

.sidebar img{
    width: 18px;
    height: auto;
    color: white;
}
.side-dash img{
    width: 26px;
    height: auto;
}

.filter-white{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(219deg) brightness(111%) contrast(101%);
}

.side-nav > div, .side-settings > div, .side-dash{
    display: flex;
    gap: 12px;
    
}

.side-dash{
    align-items: center;
}

.search-bar img{
    width: 20px;
    height: auto;
    align-self: center;
}
.search-bar{
    display: grid;
    grid-template-columns: max-content 2fr;
    gap: 8px;
    align-items: center;
}
input{
    border-radius: 8px;
    padding: 6px 8px;
    border: none;
    background-color: rgb(237, 234, 234);
    height: 30px;
}

.bell-logo{
    width: 20px;
    height: auto;
}

.snake-logo{
    background-color:skyblue;
    width: 45px;
    height: auto;
    border-radius: 30px;
  
    padding: 6px;
}

.logo-greeting .snake-logo{
    width: 55px;
}

.trend-cards > div{
    display: flex;
    gap: 12px;
    
    align-items: center;
}
.trend-cards > div:first-child, .trend-cards > div:first-child + div, .trend-cards > div:first-child + div + div{
    margin-bottom: 14px;
}

.trend-cards img{
    width: 45px;
    height: auto;
    border-radius: 30px;
    padding: 6px;
}

.shark{
background-color: tan;
}

.snake{
background-color: skyblue;
}

.elephant{
background-color: lightcoral;
}
.kangaroo{
background-color: yellowgreen;
}

.announcement-cards > div{
    border-bottom: 1px solid rgba(56, 50, 50, 0.44);
}
.announcement-cards > div:last-child{
    border-bottom: 0px;
}
.announcement-cards > div:first-child, .announcement-cards > div:first-child + div{
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.header{
    height: fit-content;
    box-shadow: 0 2px 6px -6px black;
    position: relative;
}

.trend-cards, .announcement-cards, .card{
    box-shadow: 4px 4px 6px -6px black;
}

.card{
    color:gray;
}

.card::first-line{
    color: black;
    font-weight: 600;
    font-size: 18px;
    
}
.announcement-cards{
color: gray;
}
.content-head{
    font-weight: bold;
    font-size: 20px;
}
.announcement-cards > div::first-line{
    font-weight:600;
    color: black;
}
.trendline{
    color: gray;
}
.card-text{
    margin-top: 4px;
}
.greeting{
    font-weight: 600;
}
.greeting > p:last-of-type{
    font-size: 20px;
}
.greeting > p:first-of-type{
    font-size: 14px;
    font-weight: 550;
}
.user-account a{
    font-weight: 600;
    font-size: 16px;
}